config.inc.php
./build
temp
files
.htaccess
.project
.buildpath
.settings

# Specially for templates in bootstrappish theme (to override 'files' entry above)
!/plugins/themes/bootstrappish/templates/manager/files
